
<div class="container-fluid text-left">
    <h1> About Us. </h1>
    
    <p>We appreciate your interest in doing business with Kenny’s Kustom Kards!  
    As a wholesale printing company, we deal exclusively with businesses that are 
    “reselling” printed products to the end-client.  Our production specializes in 
    Thermography, Foil Stamping & Embossing for business cards 
    (and related products).</p>
    
    <p>To get started, please download and complete the Resale Certificate as soon as
    possible (for us to have your Company Information & Tax Number on file). 
    Once we receive your paperwork, we will set up your account and have it ready 
    for orders!  We will also send you ALL of the materials you’ll need 
    for placing orders 
    including House Stock Samples, Price Lists, & Order Forms.</p>
    
    <p>When placing orders, please use the forms provided:  
    Thermography / Foil & Emboss / Rubber Stamps.  
    You can submit your order forms by fax or email 
    (full version of Acrobat required).  
    We recommend faxing your order form (with a sample), and emailing your 
    artwork to: orders@cardorders.com.  This will help to ensure your 
    order is received!</p>
    
    <p>Orders will be delivered (limited area in the DFW Metroplex) 
    or shipped back to you depending on your location.  Another option 
    is to “drop-ship” your orders directly to the end-client 
    (for an additional charge). New accounts start out on C.O.D., 
    or with Credit Card billing.</p>
    
    <p>Please let us know if you have any questions about getting started!  
    Our customer service is available Monday thru Friday from 8:30 am to 
    5:30 pm (central time).  They can assist you with any of your questions 
    on pricing or placing orders.</p>
    
    <p>Also, be sure to ask about our online ordering service, CardOrders.com.  
    This service allows your customers to view their proofs instantly for 
    FREE!</p>
</div>